@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

.toma{
  overflow: hidden;
  position: relative;
  @apply px-6 mt-4 shadow-2xl inline-block py-3 w-[10rem] h-12 text-black rounded-full mr-4 z-[1]  

}
.toma::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: .4s ease;
  width: 0%;
  background-image: linear-gradient(to right,#90e0ef 0%,  #0ea5e9 100%);
  @apply px-6 inline-block py-3 w-0 h-12 opacity-0  rounded-full mr-4 -z-[1]  

}
.toma::before:hover{
  @apply px-6 inline-block py-3 w-[10rem] h-12 opacity-100  rounded-full mr-4 -z-[1]  
 
}
